{% extends 'Main/head.html.twig' %}

{% block title %}Index{% endblock %}
{% block content %}
<div class="container">
    <header class="text-center">
        <h1>Witaj! Jak się masz ?</h1>
    </header>
</div>

{% endblock %}