{% extends 'Main/head.html.twig' %}

{% block title %}Moje projekty{% endblock %}

{% block content %}
<header class="text-center">
    <h1>Moje projekty</h1>
</header>
    {{ attachmentLink('dyskretna.pdf') }}
{% endblock %}