{% extends 'Main/head.html.twig' %}

{% block title %}Błąd{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">Błąd aplikacji!</h1>
    <section class="alert alert-danger">
        {{ message }}
    </section>
</div>

{% endblock %}